<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Add Drinks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReadWeight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB7FA06F1A22536D00B824A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB53BE019D48F9F006F9DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABB53BF919D48F9F006F9DBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE4F48319D750990048D853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
