<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Drinks</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.calvinchestnut.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Drinks</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.calvinchestnut.drinkTracker.addDrink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>addDrink</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>beerGlassSmall</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Beer</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.calvinchestnut.drinkKeeper.shortcut.addBeer</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>wineSmall</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Wine</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.calvinchestnut.drinkKeeper.shortcut.addWine</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>liquorGlassSmall</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Drink</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.calvinchestnut.drinkKeeper.shortcut.addDrink</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Duplicate Last Drink</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.calvinchestnut.drinkKeeper.shortcut.duplicate</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>key2</key>
				<string>value2</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
